:root {
    --primary-color: #292929;
    --primary-color-light: #1f2125;
    --primary-color-extra-light: #555555;
    --secondary-color: #f9ac54;
    --secondary-color-dark: #d79447;
    --text-light: #d1d5db;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto';
    background-color: var(--primary-color);
}

#logo {
    width: 300px;
    top: 100px;
    position: relative;
    left: 300px;
}

.left-side > span {
    padding-bottom: 0.35rem;
    font-weight: 500;
    color: var(--primary-color-extra-light);
    margin-left: 65px;
    position: relative;
    top: 170px;
}
  
.left-side span::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    transition: 0.3s;
}
  
.left-side span:hover::after {
    width: 50%;
}

.left-side span:active {
    color: white;
}